
<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <!-- <img src="assets/layout/images/{{
                layoutService.config.colorScheme === 'light'
                    ? 'logo-dark'
                    : 'logo-white'
            }}.svg" alt="Sakai logo" class="mb-5 w-6rem flex-shrink-0" />  -->
        <div
            style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <img src="assets/demo/images/login/avatar.png" alt="Image" height="50" class="mb-3" />
                    <div class="text-900 text-3xl font-medium mb-3">
                        Welcome!
                    </div>
                    <span class="text-600 font-medium">Sign up to continue</span>
                </div>
                <p-toast></p-toast>

                <div>
                    <!-- <label for="email1" class="block text-900 text-xl font-medium mb-2">Email</label> -->
                    <input id="email1" type="text" placeholder="Email address" pInputText class="w-full md:w-30rem mb-5 mr-2"
                        style="padding:1rem" [(ngModel)]="admin.email" />

                    <!-- <label for="email1" class="block text-900 text-xl font-medium mb-2">Matricule</label> -->
                    <input id="mat" type="text" placeholder="Matricule" pInputText class="w-full md:w-30rem mb-5"
                        style="padding:1rem" [(ngModel)]="admin.mat" />

                    <label for="email1" class="block text-900 text-xl font-medium mb-2"></label>
                    <input id="reg" type="text" placeholder="Registre de commerce" pInputText class="w-full md:w-30rem mb-5 mr-2"
                            style="padding:1rem" [(ngModel)]="admin.reg" />

                    <!-- <label for="email1" class="block text-900 text-xl font-medium mb-2">Logo</label> -->
                    <input id="logo" type="text" placeholder="logo" pInputText class="w-full md:w-30rem mb-5"
                            style="padding:1rem" [(ngModel)]="admin.logo" />

                    <label for="email1" class="block text-900 text-xl font-medium mb-2"></label>
                    <input id="tel" type="text" placeholder="Tel" pInputText class="w-full md:w-30rem mb-5 mr-2"
                            style="padding:1rem" [(ngModel)]="admin.tel" />

                    <!-- <label for="email1" class="block text-900 text-xl font-medium mb-2">Site</label> -->
                    <input id="site" type="text" placeholder="Site" pInputText class="w-full md:w-30rem mb-5"
                        style="padding:1rem" [(ngModel)]="admin.site" />

                        <label for="email1" class="block text-900 text-xl font-medium mb-2"></label>
                        <input id="nom" type="text" placeholder="Nom Societe" pInputText class="w-full md:w-30rem mb-5 mr-2 "
                                style="padding:1rem" [(ngModel)]="admin.nomSociete" />
                    

                    <!-- <label for="password1" class="block text-900 font-medium text-xl mb-2">Password</label> -->
                    <p-password id="password1" [(ngModel)]="admin.password" placeholder="Password" [toggleMask]="true"
                        styleClass="mb-5" inputStyleClass="w-full p-3 md:w-30rem"></p-password>

                     <!-- <div class="flex align-items-center justify-content-between mb-5 gap-5">
                        <div class="flex align-items-center">
                            <p-checkbox id="rememberme1" [binary]="true" styleClass="mr-2"></p-checkbox>
                            <label for="rememberme1">Remember me</label>
                        </div>
                        <a class="font-medium no-underline ml-2 text-right cursor-pointer"
                            style="color: var(--primary-color)">Forgot password?</a>
                    </div>  -->
                    <button pButton pRipple label="Sign Up" class="w-full p-3 text-xl" (click)=" proceedregister()"
                        ></button>
                        <div class="card-footer">
                            <div class="d-flex justify-content-center links">
                              Back to Login !! <a routerLink="/auth/login" style="font-weight: bold;">Sign In</a>
                            </div>
                          
                          </div>
                </div>
            </div>
        </div>
    </div>
</div>