<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <!-- <img src="assets/layout/images/logo wind.JPG{{layoutService.config.colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="logo"> -->
        <img src="assets/layout/images/logo-no-background.png" style="width: 100px;height: 70px;" alt="logo">
        <span></span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <!-- <button class="p-link layout-topbar-button">
            <i class="pi pi-calendar"></i>
            <span>Calendar</span>
        </button> -->
        <div class="mb-3"style="color:black">
            <li class="dropdown notification-list">
            <a class="nav-link  nav-user arrow-none " 
             role="button" aria-haspopup="false" aria-expanded="false">
                <span class="account-user-avatar mt-2">
                    <!-- <img [src]="'http://localhost:8098/api/v1/auth/files/' +  logo" height="40px" width="40px" style="margin-left: 20px; " alt="user-image" class="rounded-circle"> -->
                    <img src="assets/demo/images/login/avatar1.png" height="40px" width="40px" alt="user-image" class="rounded-circle ">
                </span>
              
                <span >
                    <span style="color: #0c0f2b;" class="account-user-name "  >{{dataUser.sub}}</span>
                </span>
        
            </a>
        </li></div>
      
       
        <button class="p-link layout-topbar-button">
            <i class="pi pi-user"></i>
            <span>Profile</span>
        </button>
        
        <button class="p-link layout-topbar-button" (click)="logout()"  >
            <i class="pi pi-arrow-circle-right"></i>
            <span>Logout</span>
        </button>


    
        <!-- <button class="p-link layout-topbar-button" [routerLink]="'/documentation'">
            <i class="pi pi-cog"></i>
            <span>Settings</span>
        </button> -->
    </div>
</div>